- @hide_top_links = true
- page_title _("Merge Requests")
- @breadcrumb_link = merge_requests_dashboard_path(assignee_id: current_user.id)

.top-area
  = render 'shared/issuable/nav', type: :merge_requests, display_count: !@no_filters_set
  .nav-controls
    = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "新建合并请求", with_feature_enabled: 'merge_requests', type: :merge_requests

= render 'shared/issuable/filter', type: :merge_requests

- if current_user && @no_filters_set
  = render 'shared/dashboard/no_filter_selected'
- else
  = render 'shared/merge_requests'
