.top-area
  .nav-text
    - full_count_title = "#{@public_forks_count} 个公开和 #{@private_forks_count} 个私有"
    #{pluralize(@total_forks_count, '个派生', '个派生')}: #{full_count_title}

  .nav-controls
    = form_tag request.original_url, method: :get, class: 'project-filter-form', id: 'project-filter-form' do |f|
      = search_field_tag :filter_projects, nil, placeholder: '搜索派生', class: 'projects-list-filter project-filter-form-field form-control input-short',
        spellcheck: false, data: { 'filter-selector' => 'span.namespace-name' }

    .dropdown
      %button.dropdown-toggle{ type: 'button', 'data-toggle' => 'dropdown' }
        %span.light 排序：
        - if @sort.present?
          = sort_options_hash[@sort]
        - else
          = sort_title_recently_created
        = icon('chevron-down')
      %ul.dropdown-menu.dropdown-menu-right
        %li
          - excluded_filters = [:state, :scope, :label_name, :milestone_id, :assignee_id, :author_id]
          = link_to page_filter_path(sort: sort_value_recently_created, without: excluded_filters) do
            = sort_title_recently_created
          = link_to page_filter_path(sort: sort_value_oldest_created, without: excluded_filters) do
            = sort_title_oldest_created
          = link_to page_filter_path(sort: sort_value_recently_updated, without: excluded_filters) do
            = sort_title_recently_updated
          = link_to page_filter_path(sort: sort_value_oldest_updated, without: excluded_filters) do
            = sort_title_oldest_updated

    - if current_user && can?(current_user, :fork_project, @project)
      - if current_user.already_forked?(@project) && current_user.manageable_namespaces.size < 2
        = link_to namespace_project_path(current_user, current_user.fork_of(@project)), title: '转到您的派生', class: 'btn btn-new' do
          = sprite_icon('fork', size: 12)
          %span 派生
      - else
        = link_to new_project_fork_path(@project), title: "派生项目", class: 'btn btn-new' do
          = sprite_icon('fork', size: 12)
          %span 派生


= render 'projects', projects: @forks
