= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :allow_local_requests_from_hooks_and_services, class: 'form-check-input'
        = f.label :allow_local_requests_from_hooks_and_services, class: 'form-check-label' do
          允许钩子和服务访问本地网络

  = f.submit '保存修改', class: "btn btn-success"
