- page_title "FogBugz 导入"
- header_title "项目", root_path
%h3.page-title
  %i.fa.fa-bug
  从 FogBugz 导入项目
%hr

= form_tag callback_import_fogbugz_path do
  %p
    请先在下面填入你的 FogBugz 链接和登录信息。
    然后在下一步，你可以映射用户和选择你想要导入的项目。
  .form-group.row
    = label_tag :uri, 'FogBugz URL', class: 'col-form-label col-md-2'
    .col-md-4
      = text_field_tag :uri, nil, placeholder: 'https://mycompany.fogbugz.com', class: 'form-control'
  .form-group.row
    = label_tag :email, 'FogBugz 邮箱', class: 'col-form-label col-md-2'
    .col-md-4
      = text_field_tag :email, nil, class: 'form-control'
  .form-group.row
    = label_tag :password, 'FogBugz 密码', class: 'col-form-label col-md-2'
    .col-md-4
      = password_field_tag :password, nil, class: 'form-control'
  .form-actions
    = submit_tag '继续下一步', class: 'btn btn-create'
