新的合并请求 <%= @merge_request.to_reference %>

<%= url_for(project_merge_request_url(@merge_request.target_project, @merge_request)) %>

<%= merge_path_description(@merge_request, 'to') %>
作者:    <%= @merge_request.author_name %>
指派给:  <%= @merge_request.assignee_name %>
<%= render_if_exists 'notify/merge_request_approvers', merge_request: @merge_request %>

<%= @merge_request.description %>
